migrate_working_dir/

# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/


# Flutter web output
web/generated/

# IntelliJ/Android Studio
*.iml
.idea/

# VS Code
.vscode/

# Android build
android/.gradle/
android/captures/
android/gradle/
android/local.properties
android/.idea/

# iOS build
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/build/

# macOS build
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/
macos/build/

# Linux build
linux/flutter/ephemeral/
linux/build/

# Windows build
windows/flutter/ephemeral/
windows/build/

# Web build
web/ephemeral/

# Logs
*.log

# Crash files
*.crash

# Temp files
*.bak
*.tmp

# Test outputs
coverage/

# System files
.DS_Store
Thumbs.db

# Symbolication/obfuscation
app.*.symbols
app.*.map.json

# Flutter doc/api
**/doc/api/
**/ios/Flutter/.last_build_id

# Android Studio build outputs
android/app/debug
android/app/profile
android/app/release
